<div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>Portfolio</h2><br>
    <h4>What I have created</h4>
    <div class="row text-center slideanim">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="img/deer-8463729_1280.png" alt="Space" width="400" height="300" object-fit="cover">
          <p><strong>Space</strong></p>
          <p>Yes, I built this</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="img/nature-8280318_1280.png" alt="Building" width="400" height="300" object-fit="cover">
          <p><strong>Building</strong></p>
          <p>One of my best</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="img/trees-8463651_1280.png" alt="Sky" width="400" height="300" object-fit="cover">
          <p><strong>Sky</strong></p>
          <p>It was challenging</p>
        </div>
      </div>
    </div><br>