<div id="promise" class="container-fluid">
    <div class="text-center">
      <h2>Promise</h2>
      <h4>I'm going to keep doing these things</h4>
    </div>
    <div class="row slideanim">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>TRY</h1>
          </div>
          <div class="panel-body">
            <p><strong>Steady</strong> Progress</p>
            <p><strong>Constructive</strong> Feedback</p>
            <p><strong>Inspiring</strong> Explore</p>
            <p><strong>Motivating</strong> Challenge</p>
          </div>
          <div class="panel-footer">
            <h3>Solving problems</h3>
            <h4>wisely</h4>
            <!-- <button class="btn btn-lg">Sign Up</button> -->
          </div>
        </div>      
      </div>     
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>TALK</h1>
          </div>
          <div class="panel-body">
            <p><strong>Collaborative</strong> Discussion</p>
            <p><strong>Friendly</strong> Conversation</p>
            <p><strong>Humble</strong> Attitude</p>
            <p><strong>Positive</strong> Interaction</p>
          </div>
          <div class="panel-footer">
            <h3>Be considerate</h3>
            <h4>in communication</h4>
            <!-- <button class="btn btn-lg">Sign Up</button> -->
          </div>
        </div>      
      </div>       
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>GROWTH</h1>
          </div>
          <div class="panel-body">
            <p><strong>Meaningful</strong> Endeavor</p>
            <p><strong>Relentless</strong> Pursuit</p>
            <p><strong>Passionate</strong> Venture</p>
            <p><strong>Successful</strong> Attempt</p>
          </div>
          <div class="panel-footer">
            <h3>Become a better me</h3>
            <h4>than yesterday</h4>
            <!-- <button class="btn btn-lg">Sign Up</button> -->
          </div>
        </div>      
      </div>    
    </div>
  </div>